<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.js"></script>
    <title>Document</title>
</head>
<body>
    <!--
        Você possui o nome e sobrenome do usuário em data,
        crie uma propriedade computed que retorne o nome completo
        
        Utilize a rest API para puxar as capitais dos paises
        Use um campo de select, onde o usuário pode selecionar o país.
        https://restcountries.com/v2/all

        Com uma função watch, mude a capital de acordo com o país selecionado:

        Ex de campo select:

        <select name="paises" id="paises" v-model="selecionado">
            <option v-for="pais in paises" :value="pais.name">
            {{pais.name}}
            </option>   
        </select>
    -->

    <div id="app">
        <div>
            {{nomeCompleto}}
        </div>
        <div>
            <select name="paises" id="paises" v-model="selecionado">
                <option v-for="pais in paises" :value="pais.name">
                {{pais.name}}
                </option>   
            </select>
            <p><span>Capital: {{capitalAchada.capital}}</span></p>
        </div>
    </div>
</body>
<script>
    const vm = new Vue({
        el: '#app',
        data:{
            nome: 'Bruno',
            sobrenome: 'Ramos',
            paises: {},
            selecionado: "",
            capitalAchada: ""
           
        },
        methods:{
            pegarPaises(){
                fetch('https://restcountries.com/v2/all').then(r=>r.json()).then(json =>{
                    this.paises = json
                })
            }
        },
        computed:{
            nomeCompleto(){
                return this.nome + ' ' + this.sobrenome
            }
        },
        watch:{
            selecionado(valor){
                this.capitalAchada  = this.paises.find((pais) => pais.name === valor)
                
               
            }
        },
        mounted(){
            this.pegarPaises()
        }
    })
</script>
</html>