<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(item, index) in lista">{{item}}</li>
        </ul>
        <ul>
            <li v-for="(estado, key, index) in estados">{{key}} {{estado.nome}} {{estado.populacao}}</li>
        </ul>
    </div>
</body>
<script>
    const vm = new Vue({
        el: '#app',
        data:{
            lista:[
                'banana', 'uva', 'laranja'
            ],
            estados: {
                sp: {
                    populacao: "45 milhões",
                    nome: "São Paulo"
                },
                mg: {
                    populacao: "21 milhões",
                    nome: "Minas Gerais"
                },
                rj: {
                    populacao: "17 milhões",
                    nome: "Rio de Janeiro"
                }
            }
        }
    });


</script>
</html>